<!DOCTYPE html>
<html>
  <head>
    <title>Astra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
      <script type="text/javascript">
      window.runner = "<%= [image_url("running-alone-front.jpg"), image_url("cyclist.jpg"), image_url("hiking.jpg")].sample %>"
      window.splash = "<%= image_url("splash_page.jpg") %>"
      window.astra = "<%= image_url("astra.jpg") %>"

    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
